.home-content-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh;
    background: #f4f4f9;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 72px;
    background: #ffffff;
    padding: 24px 122px;
}

.logo-navbar {
    height: 24px;
    width: auto;
}

.navbar-user-conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    height: 100%;
}

.navbar-user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #e4fde1;
}

a {
    cursor: pointer;
}

.finace-card-conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 48px 122px;
}

.finace-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 140px;
    border-radius: 24px;
    background: #ffffff;

}

.table-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 48px 122px;
}

.table-content-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border-radius: 24px;
    height: 522px;
    background: #ffffff;
    padding: 24px;
}

.table-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    color: #7c7c7c;
}

td {
    color: #7c7c7c;
}

th.right {
    text-align: right;
}

th.center {
    text-align: center;
}

td.center {
    text-align: center;
}

td.right {
    text-align: right;
}

.modal-backgroud {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: o;
    bottom: 0;
    background: rgba(1, 4, 0, 0.2);
}

.modal-content {
    height: 100%;
    width: 480px;
    background: #f4f4f9;
    padding: 24px;
}

.modal-content-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}